<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Jobify - About Us</title>
    <%- include('./components/meta') %>
</head>
<body>  
<section>
    <div class="container-landing">

      <div class="caption d-flex justify-content-center">
      
        <%- include('./components/header') %>

          <div class="main-landing d-flex  flex-column-reverse flex-lg-row col-12 justify-content-center align-items-center py-5">
                  <div class="content col-12 col-lg-6">
                    <h1> 
                      <a href="/">
                        <span id="website-title" class="py-5">Jobify</span>
                      </a>
                    </h1>
                    <p class="py-3">Progetto di Reti di Calcolatori di <b>Matteo Papa</b> & <b>Matteo Cutroni</b></p>
                  </div>

          </div>

          <div class="footer-landing d-flex flex-col gap-5 justify-content-evenly">
            <div class="media">
              <h2 style="color: #fde672;text-decoration: underline;">Matteo Papa</h2>
                <div class="social">
                  <div><a href=""><i class="fa fa-envelope"></i></a></div>
                  <div><a href=""><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="media">
              <h2 style="color: #fde672;text-decoration: underline;">Matteo Cutroni</h2>
                <div class="social">
                  <div><a href=""><i class="fa fa-envelope"></i></a></div>
                  <div><a href=""><i class="fab fa-github"></i></a></div>
                </div>
            </div>
          </div>

      </div>

    </div>
</section>

      
<script src="js/jquery.js"></script>


</body>
</html>