<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Jobify - Home</title>
    <%- include('./components/meta') %>
</head>
<body>  
<section>
    <div class="container-landing">

      <div class="caption d-flex justify-content-center">
      
          <%- include('./components/header') %>

          <div class="main-landing d-flex  flex-column-reverse flex-lg-row col-12 justify-content-center align-items-center py-lg-5">
                  <div class="content col-12 col-lg-6">
                    <h1> 
                      <a href="/">
                        <span id="website-title" class="glow py-5">Jobify</span>
                      </a>
                    </h1>
                    <p class="py-3">Ogni giorno più di 500.000 siti web vengono resi pubblici: il ruolo del <b>Web Designer</b> è sempre più importante, e grazie a noi trovare lavoro è ancora <b>più facile</b> !</p>
                    <a href="/services" class="button magicline">Inizia Ora !</a>
                  </div>
                
                  
                  <div class="image col-12 col-lg-6 d-flex justify-content-center justify-content-lg-start align-items-center">
                      <img src="img/office.svg">
                  </div>
          </div>

          <div class="footer-landing d-flex flex-col gap-5 justify-content-evenly  justify-content-md-start">
            <div class="media">
              <h2 style="color: #fde672;text-decoration: underline;">Matteo Papa</h2>
                <div class="social">
                  <div><a href=""><i class="fa fa-envelope"></i></a></div>
                  <div><a href=""><i class="fab fa-github"></i></a></div>
                </div>
            </div>
            <div class="media">
              <h2 style="color: #fde672;text-decoration: underline;">Matteo Cutroni</h2>
                <div class="social">
                  <div><a href=""><i class="fa fa-envelope"></i></a></div>
                  <div><a href=""><i class="fab fa-github"></i></a></div>
                </div>
            </div>
          </div>

      </div>

    </div>
</section>

      
<script src="js/jquery.js"></script>


</body>
</html>